@charset "UTF-8";

:root {
    --bg-color: #383E44;
    --text-color: #BCC3CA;
    --heading-color: #E2E4E7;
    --secondary-text-color: #A1A7AE;
    --link-color: #D7DDE3;
    --rule-color: #4C525A;
    --code-block-bg: #2F3135;
    --selection-bg-color: #4B84D1;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    fill: currentColor;
    line-height: 1.66rem;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}

body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, "Segoe UI Emoji", "SF Pro", sans-serif;
    color: var(--text-color);
    border-color: transparent;
    margin: 0;
}

#write {
    box-sizing: border-box;
    max-width: 928px;
    margin: 0 auto;
    padding: 0 31px 43px;
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1038px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1218px;
    }
}

::selection,
*.in-text-selection {
    background: var(--selection-bg-color);
    color: #fff;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lucida Grande", "Corbel", sans-serif;
    font-weight: normal;
    clear: both;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    color: var(--heading-color);
}

h1 {
    font-size: 2.5rem;
    line-height: 2.78rem;
    margin-top: 2.04em;
    margin-bottom: 1.54rem;
    letter-spacing: -1.45px;
}

h2 {
    font-size: 1.63rem;
    line-height: 1.9rem;
    margin-bottom: 1.54rem;
    letter-spacing: -0.98px;
    font-weight: bold;
}

h3 {
    font-size: 1.17rem;
    line-height: 1.52rem;
    margin-bottom: 1.54rem;
    letter-spacing: -0.96px;
    font-weight: bold;
}

h4 {
    font-size: 1.12rem;
    line-height: 1.39rem;
    margin-bottom: 1.54rem;
    color: #FFF;
}

h5 {
    font-size: 0.97rem;
    line-height: 1.27rem;
    margin-bottom: 1.52rem;
    font-weight: bold;
}

h6 {
    font-size: 0.93rem;
    line-height: 1.03rem;
    margin-bottom: 0.78rem;
    color: #FFF;
}

p {
    word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table {
    margin-top: 0;
    margin-bottom: 1.54rem;
}

ul,
ol {
    padding: 0 0 0 1.95rem;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin: 0;
}

b,
th,
dt,
strong {
    font-weight: bold;
    color: var(--heading-color);
}

i,
em,
dfn,
cite {
    font-style: italic;
}

a {
    color: var(--link-color);
    text-decoration: underline;
    outline: 0;
    transition: color .2s ease-in-out;
}

a:hover {
    color: #FFF;
}

blockquote {
    padding-left: 31px;
    margin: 36px 0 1.95rem 1.95rem;
    border-left: solid 2px var(--rule-color);
}

blockquote p:last-child {
    margin-bottom: 0;
}

pre,
code,
kbd,
tt,
var {
    font-size: 0.875em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

:not(pre) > code,
tt,
var {
    background: var(--code-block-bg);
    padding: 2px 5px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #FFF;
    background-color: var(--code-block-bg);
    border: 1px solid #727880;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.22);
}

pre.md-fences {
    padding: 11px 11px 11px 31px;
    margin-bottom: 21px;
    background: var(--code-block-bg);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

pre.md-fences code {
    background: transparent;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

.cm-s-inner,
.cm-s-inner span {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.cm-s-inner {
    color: var(--text-color);
}

.cm-s-inner .cm-variable,
.cm-s-inner .cm-property {
    color: #D2D8EA;
}

.cm-s-inner .cm-operator {
    color: var(--text-color);
}

.cm-s-inner .cm-keyword {
    color: #CB94D4;
}

.cm-s-inner .cm-string {
    color: #D87272;
}

.cm-s-inner .cm-comment {
    color: #D59452;
}

.cm-s-inner .cm-number {
    color: #68AE95;
}

.cm-s-inner .cm-atom {
    color: #87B8CC;
}

.cm-s-inner .cm-link {
    color: #D2D8EA;
}

.cm-s-inner .cm-variable-2 {
    color: #A2BCD7;
}

.cm-s-inner .cm-header,
.cm-s-inner .cm-def {
    color: #9496EF;
}

table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 6px 11px;
    vertical-align: top;
    border: solid 1px var(--rule-color);
}

table a {
    color: var(--heading-color);
}

hr {
    height: 2px;
    border: 0;
    margin: 24px 0 !important;
    background: var(--rule-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.task-list {
    padding-left: 0;
}

.md-task-list-item {
    list-style: none;
    padding-left: 1.3rem;
}

.md-task-list-item > input {
    -webkit-appearance: none;
    appearance: none;
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.5rem 0 -1.3rem;
    vertical-align: middle;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    position: relative;
    top: auto;
    pointer-events: none;
}

.md-task-list-item > input:checked::before,
.md-task-list-item > input[checked]::before {
    content: "\221A";
    font-size: 0.625rem;
    line-height: 0.625rem;
    color: var(--heading-color);
    position: absolute;
    top: 0.05rem;
    left: 0.1rem;
}

.fallback-block {
    color: var(--secondary-text-color);
    white-space: pre-wrap;
}
